.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to prototype_path(prototype) do
      = prototype.image
      .caption
        %h3 
          = prototype.catchcopy
        .proto-meta
          .proto-date
            = prototype.posted_time

        / tag
        %ul.proto-tag-list.list-inline
          %li
            %a{href: "#", class: "btn btn-default"} iPad  
          %li
            %a{href: "#", class: "btn btn-default"} wireframe
