.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.container
  .row
    %h2 Tag List
    .tags-list
      %ul
        - @tags.each do |tag|
          %li.col-md-4
            = link_to tag.name, tag_path(tag.name), class: "button btn btn-default"